<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterControllers</servlet-name>
        <servlet-class>controllers.RegisterControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControllers</servlet-name>
        <servlet-class>controllers.LoginControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>controllers.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controllers.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProfileController</servlet-name>
        <servlet-class>controllers.DeleteProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartItemController</servlet-name>
        <servlet-class>controllers.CartItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItemController</servlet-name>
        <servlet-class>controllers.DeleteCartItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartItemController</servlet-name>
        <servlet-class>controllers.UpdateCartItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controllers.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productlist</servlet-name>
        <servlet-class>controllers.ProductListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControllers</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controllers.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProviderManager</servlet-name>
        <servlet-class>controllers.ProviderManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManager</servlet-name>
        <servlet-class>controllers.ProductManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterControllers</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControllers</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProfileController</servlet-name>
        <url-pattern>/DeleteProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProviderManager</servlet-name>
        <url-pattern>/providermanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManager</servlet-name>
        <url-pattern>/productmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartItemController</servlet-name>
        <url-pattern>/cartitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItemController</servlet-name>
        <url-pattern>/deletecartitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartItemController</servlet-name>
        <url-pattern>/updatecartitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productlist</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
</web-app>
